<!-- <p>templateform works!</p>

<div>
<form #regdata='ngForm' (ngSubmit)="registration(regdata)">
<div>
    <input type="text" placeholder="enter your firstname" name="firstname" #fname='ngModel' required ngModel>
    <span *ngIf="fname.touched && fname.invalid "> 
        FirstName is required
    </span>
   
    
</div>
<div>
    <input type="text" placeholder="enter your lastname" name="lastname" #lname='ngModel' required ngModel>
    <span *ngIf="lname.touched && lname.invalid">
        LastName is required
    </span>
</div>
<div>
    <input type="text" placeholder="enter your emailid" name="email" #email='ngModel' required ngModel>
    <span *ngIf=" email.touched && email.invalid">
        Email is required
    </span>
</div>
<div>
    <input type="submit" [disabled]="regdata.invalid" value="Register">
</div>

</form>


</div> -->
