
<div  style="text-align: center;">
  <h1 appTheme>Welcome to Sahosoft Solutions !!</h1>
  <a routerLink="home" routerLinkActive="active">Home</a> | 
  <a routerLink="company" routerLinkActive="active">Company</a> | 
  <a routerLink="person" routerLinkActive="active">Person</a> | 
  <a routerLink="ContactUs" routerLinkActive="active">Contact US</a> |
  <a routerLink="admin" routerLinkActive="active">Admin</a> |
  <a routerLink="Registration" routerLinkActive="active">Registration</a> |
  <a routerLink="Login" routerLinkActive="active">Login</a>

  <br>



 <router-outlet></router-outlet>

 <button type="button" (click)="showHide()">Show/Hide</button>
 <p *appMyNgif="isShow">
 Manas yadav
 </p>


</div>